.dynamic-island-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    background: #6ea9ca;
    border-radius: 40px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: monospace;
    border: #447794 5px solid;
}

.song-cover-pic img {
    width: 50px;

}

.song-playing-dta {
    flex: 1;
}


.controls {
    display: flex;
    gap: 10px;
}

.controls button {
    background: #b4d6ea;
    color: #6ca5c6;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.controls button:hover {
    background: #528cad;
}