.dynamic-island-bar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 700px;
    background: #6ea9ca;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 5px 20px;
    font-family: monospace;
    border: #447794 5px solid;
}

.song-cover-pic img {
    width: 50px;

}

.song-playing-dta {
    flex: 1;

}

.song-playing-dta h3 {
    margin-left: 40%;
}

.controls {
    display: flex;
    text-decoration: none;
    gap: 10px;
}

.controls button {
    background: #b4d6ea;
    color: #568dad;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.controls button:hover {
    background: #76b1d4;
    border: #b4d6ea 1px dotted;
}