.userbox-ctn {
    height: 210px;
    width: 200px;
    margin-top: 50px;
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
    background-color: #6ca5c6;
    box-shadow: #547b92 0px 4px 8px;
    border-radius: 60px;
}

.user-profile img {
    margin-top: 20px;
    height: 120px;
    width: 220px;
    border-radius: 50%;
}

.user-info h3 {
    font-size: 20px;
    font-family: monospace;
    color: #333;
}