.folwn-artist-box {
    display: flex;
    width: 180px;
    flex-direction: column;
    border-radius: 50px;
    background-color: #6ca5c6;
}

.folwn-artist-box img {
    width: 150px;
    margin-left: 15px;
    border-radius: 50%;
}

.folwn-artist-box h4 {
    font-size: 10px;
    text-align: center;
    font-family: monospace;
    color: #466f87;
    font-size: 20px;
}