.navbar {
    height: 70px;
    margin-left: 10px;
    margin-bottom: 90px;
    margin-right: 10px;
    display: flex;
    border: #6ca5c6 5px solid;
    background-color: #72afd2;
    border-radius: 40px;
    margin-top: 10px;


}

.navbar-logo img {
    height: 85px;
    margin-left: 5px;
}

.navbar-topics {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-topics button {
    font-family: monospace;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background-color: #72afd2;

}

.navbar-topics button:hover {
    background-color: #6ca5c6;
    color: black;
    cursor: pointer;

}


.navbar-user {
    display: flex;
    height: 70px;
    width: 80px;
    margin-left: auto;
    align-items: left;
}