.playlistcards-container {
    margin: 30px;
    display: inline-block;
    gap: 30px;
    height: 250px;
    border-radius: 30px;
    width: 250px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #57839d;
    background-color: #6ca5c6;
    cursor: pointer;
}

.playlist-image img {
    width: 248px;
    height: 200px;
    padding: 1px;
    border-radius: 20px;
}

.playlist-info h2 {
    justify-content: center;
    text-align: center;
    color: #333;
    font-size: 20px;
}

.playlist-create-btn {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

.playlist-create-btn h2 {
    text-decoration: underline;
    font-size: 30px;
    color: rgb(76, 130, 163);
}

.playlist-create-btn button {
    height: 60px;
    font-family: monospace;
    width: 120px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #6ca5c6;
    font-size: 20px;
    border-radius: 40px;

}

.playlist-create-btn button:hover {
    cursor: pointer;
}

.playlist-recom h2 {
    display: flex;
    font-size: 30px;
    text-decoration: underline;
    margin-left: 20px;
    color: rgb(76, 130, 163);
    margin-top: 50px;
    margin-bottom: 20px;
}