.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-info img {
    width: 400px;
}

.profile-flwn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.profile-flwn h2 {
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.profile-flwn ul {
    list-style-type: none;
    padding: 0;
    font-family: monospace;
    font-size: 20px;
}