.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.profile-info img {
    width: 400px;

}

.profile-info h2 {
    color: #57839d;
    font-size: 40px;
}

.profile-info h3 {
    color: #57839d;
    font-size: 30px;
}

.profile-flwn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.profile-flwn h2 {
    color: #57839d;
    font-size: 36px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.divider {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;
}