.result {
    display: flex;
    height: 100px;
    width: 600px;
    border-radius: 50px;
    background-color: #7db6d6;
    flex-direction: row;
    border: 3px solid #5a89a4;

}

.song-icon img {
    margin-right: 30px;
    margin-top: 0%;
    margin-bottom: 20%;
    width: 100px;
    height: 100px;
}

.song-result-search h2 {
    margin: 0px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 24px;
}

.song-result-search h3 {
    margin-left: 20px;
    font-size: 18px;
}

.playbutton img {
    height: 60px;
    margin-top: 20px;
    margin-left: 250px;

}