.search-bar-ctn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 30%;
}

.search-box input {
    width: 100%;
    background-color: #7db6d6;
    text-align: center;
    font-family: monospace;
    height: 30px;
    border: 5px solid #67a7cd;
    padding: 8px;
    border-radius: 50px;
    font-size: 16px;
}

.fetch-artist {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.song-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}