.user-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-title-hed {
  font-size: 2.5rem;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
  text-decoration: none;
}


.search-results-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;          
  max-width: 700px;    
}

.delete-btn {
  background-color: #4e7277;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 35px;
  cursor: pointer;
}
