.user-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-title-hed {
  font-size: 2.5rem;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
  text-decoration: none;
}


.search-results-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  width: 60%;          
  max-width: 700px;    
}
